 <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=RCustomerDb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="RCustomerDbEntities" connectionString="metadata=res://*/CustomerDb.csdl|res://*/CustomerDb.ssdl|res://*/CustomerDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RCustomerDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
